<% provide :page_title, 'Questions' %> <%# метод provide может передовать что то методу вспомогательному yield(в нашем случае 
который находится в основном файле application.html.erb)%>
<% currently_at 'Questions' %>

<h1 class="mb-4">
Questions
</h1>

<%= link_to 'New question', new_question_path, class: 'btn btn-primary btn-lg'%>

<%# <%= @questions.inspect %> <%# в скобках с процентами можно выполнить код на языке руби в разметке html%>

<%= paginate @questions%> <%# paginate хелпер из kaminari который позволяет переключаться между страницами%>

<% @questions.each do |question| %> <%# если после процента в начале равно = тогда он автоматом выведет результат кода%>
  <article class="card mt-3">
    <div class="card-body">
      <h2 >
        <%= question.title %> <%# title это один из заоголовков в базе данных question и его можно вызвать как отдельный метод%>
      </h2> 

      <section class="card-text">
        <time datetime="<%= question.created_at.strftime('%Y-%m-%d %H:%M:%S')%>">
          <small>
          <%= question.created_at %>
          </small>
        </time>


        <p class="my-2">
          <%= truncate strip_tags(question.body), length: 150, omission: '... (continued)'%> 
          <%# также как и title, strip_tags удаляет тэги, метод truncate обрезает текст, на длину указаную в конце строки,
          также есть у truncate необязательный параметр omission который пишет в конце обрезанного предложенния то что укажешь%>
        </p>
      </section>

        <%= link_to 'Show', question_path(question), class: 'btn btn-primary'%> 
        <%#question_path это префикс для пути использования метода можно посмотреть в консоли с помощью rails routes %>

        <%= link_to 'Edit', edit_question_path(question), class: 'btn btn-secondary' %>
        <%= link_to 'Destroy', question_path(question), class: 'btn btn-danger',
        data: {method: :delete,confirm: "Are you sure?"} %>
    </div>
  </article>
<% end %>

<%= paginate @questions%> <%# paginate хелпер из kaminari который позволяет переключаться между страницами%>