<% provide :page_title, 'Show' %> <%# метод provide может передовать что то методу вспомогательному yield(в нашем случае 
который находится в основном файле application.html.erb)%>
<% currently_at 'Show' %>

<h1 class="mb-4"><%= @question.title%></h1>

  <time datetime="<%= @question.formatted_created_at%>">
    <%= @question.formatted_created_at %>
  </time>

<div class="lead my-3">
  <%= sanitize @question.body %> 
  <%# @question.body.html_safe таким образом можно написать что в теле вопроса можно писать html и мы доверяем пользователю 
  но в таком случае это опасно ведь доступен тег <script> и мы используем хелпер из рельс sanitize 
  который оставляет только теги для текста%>
</div>

<%= link_to 'Edit', edit_question_path(@question), class: 'btn btn-secondary' %>
<%= link_to 'Destroy', question_path(@question), class: 'btn btn-danger',
data: {method: :delete,confirm: "Are you sure?"} %>

<hr class="my-3">

<h2 class="mt-5">Write your answer</h2>

<%= render 'answers/form'%>

<h2 class="mt-5">Answers</h2>

<%= raw pagy_bootstrap_nav @pagy %> <%# альтернатива kaminari, raw и двойное ровно одно и тоже это значит будет обрабатывать html%>
<%# <%= paginate @answers%> <%# paginate хелпер из kaminari который позволяет переключаться между страницами%>

<%= render partial: 'answers/answer', collection: @answers, as: :answer, locals: {question: @question}%> 
<%# partial брать из директории 'answers/answer',
collection назвать @answers,
as: каждый елемент коллекции назвать :answer,
local другие локальные переменные будут включать в себя переменную question которая 
будет брать значение из переменной образца дласса @question,

ruby on rails поймет что @answers это коллекция(?) Ведь ему надо отрендерить каждый элемент коллекции
и полезет в директорию answers и найдет в ней файл answer %>

<%== pagy_bootstrap_nav @pagy %> <%# альтернатива kaminari, raw и двойное ровно одно и тоже это значит будет обрабатывать html%>
<%# <%= paginate @answers%> <%# paginate хелпер из kaminari который позволяет переключаться между страницами%>