<% provide :page_title, 'Log in' %> <%# метод provide может передовать что то методу вспомогательному yield(в нашем случае 
который находится в основном файле application.html.erb)%>

<% currently_at 'Log in' %> <%# вход в систему%>

<h1 class="mb-4">Log in</h1> 

<%= form_with url: session_path do |f| %> <%# форму будем отправлять на sessions_path%>

  <div class="mb-3 row">
    <div class='col-sm-2 col-form-label'>
      <%= f.label :email %>
    </div>

    <div class="col-sm-10">
      <%= f.email_field :email, value: params[:email], 
      #value: params[:email] для сохранения почты после перезагрузки страницы берет из параметров, работает с render но не redirect_to
       placeholder: "E-mail", class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class='col-sm-2 col-form-label'>
      <%= f.label :password %>
    </div>

    <div class="col-sm-10">
      <%= f.password_field :password, class: 'form-control form-control-lg' %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="offset-sm-2 col-sm-10">
      <div class="form-check">
        <%= f.check_box :remember_me, class: 'form-check-input', value: '1'%> <%# реализуем флажок запомнить меня%>
        <%= f.label :remember_me, class: 'form-check-label'%>
      </div>
    </div>
  </div>

  <%= f.submit "Login", class:'btn btn-primary btn-lg'%>

<% end %>