<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MyWebApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav>
      <ul>  
        <li><%= link_to 'Home', root_path%></li> <%# переход через код руби, можно через root_url тогда в строке будет полный 
                                                  домен сайта(example.com/question), а с root_path только часть(/question)%>
        <li><%= link_to 'Questions', questions_path%></li>
      </ul>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
